@use "../mixin" as m;

main.search-content {
  position: relative;
  width: min(90%, 1400px);
  margin: 0 auto;
  margin-top: 10vh;
} //main.search-content

form.search-form {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  fieldset.search-keyword {
    display: flex;
    border: none;
    > * {
      height: 55px;
      border: none;
      background: #fff;
    } // > *
    span.search-icon,
    button {
      width: 55px;
      line-height: 55px;
      color: var(--sky);
      text-align: center;
      font-size: 1.3em;
    } //span,button
    input {
      flex: 1;
      color: var(--sky);
      font-size: 1.8em;
      outline: none;
      &::placeholder {
        color: #ddd;
      } //::placeholder
      &::-webkit-calender-picker-indicator {
        display: none !important;
      }
    } //input
  } //fieldset.search-keyword
} //form.search-form
